<html>
<head>
    <title>Mis Trabajos</title>
</head>
<body>
    <h1>You've successfully added another job to the list of Jobs You've Had</h1>
    <p>{{ newtrabajo.getTitle }}</p>
    <p><a href='/'>See all the Jobs You've Had</a></p>
</body>
</html>
