<html>
<head>
    <title>Mis Trabajos</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>Jobs You've Had</h1>
        {% if trabajos is not empty %}
        <h2>Here, a list of Jobs You've Had</h2>
            {% for trabajo in trabajos %}
                <ul>
                    <li>
                    <address>
                        <strong>{{ trabajo.getTitle }}</strong>
                        <br>
                        {{ trabajo.getDuties }}
                        <br>
                        {{ trabajo.getCompany }}
                        <br>
                        {{ trabajo.getLocation }}
                        <br>
                    </address>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

        <form action='trabajos' method='post'>
            <div class='form-group'>
                <label for='title'>Title</label>
                <input id='title' name='title' class='form-control' type='text'>

                <label for='duties'>Duties</label>
                <input id='duties' name='duties' class='form-control' type='text'>

                <label for='company'>Company</label>
                <input id='company' name='company' class='form-control' type='text'>

                <label for='location'>Location</label>
                <input id='location' name='location' class='form-control' type='text'>

                <button type='submit'>Add Job</button>
            </div>
        </form>
        <form action='delete_trabajos' method='post'>
            <button type='submit'>clear list</button>
        </form>
    </div>
</body>
</html>
